.board {
    width: 240px;
    height: 240px;
    overflow: hidden;
}

.colorbox {
    width: 100px;
    height: 100px;
    float: left;
    cursor: pointer;
}

.red {
    background-color: lightpink;
}
.red-active, .red:active {
    background-color: red;
}
.green {
    background-color: lightgreen;
}
.green-active, .green:active {
    background-color: green;
}
.blue {
    background-color: lightblue;
}
.blue-active, .blue:active {
    background-color: blue;
}
.yellow {
    background-color: lightyellow;
}
.yellow-active, .yellow:active {
    background-color: yellow;
}